.profile-container{
    height: 100vh;
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}



@media (max-width: 320px)  {
    .profile-container{
        /* height: 100vh; */
        background-color: #000009;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; 
        padding-top: 20px;
        padding-bottom:20px ;

    
        
    
    }

  }
    @media (min-width: 321px) and (max-width: 600px) {
        .profile-container{
            /* height: 100vh; */
            background-color: #000009;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom:20px ;
    
        
            
        
        }
  }
    @media (min-width: 601px) and (max-width: 960px) {
        .profile-container{
            height: 100vh;
            
            background-color: #000009;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom:20px ;
    
        
            
        
        }
  }
  @media (min-width: 961px) and (max-width: 1280px) {
    .profile-container{
        height: 100vh;
        background-color: #000009;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        padding-top: 20px;
        padding-bottom:20px ;

    
        
    
    }
  }

  @media (min-width: 1281px) {
    .profile-container{
        height: 100vh;
        background-color: #000009;
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        padding-top: 20px;
        padding-bottom:20px ;

    
        
    
    }
  }
